@media only screen and (min-width:38rem) {

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }
    .navigation {
        display: block;
    }
    .navigation ul {
        display: flex;
    }
    .navigation a {
        border: none;
    }
    
}


@media only screen and (min-width:350px) {
    #people-list {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media only screen and (min-width:601px) {
    #people-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
}

@media only screen and (min-width:850px) {
    #people-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}

@media only screen and (min-width:1101px) {
    #people-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
    }
}
@media only screen and (min-width:1401px) {
    #people-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
}



/* ------JOIN------ */
@media only screen and (min-width:400px) {
    #join-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}