header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;
}

header img{
    display: inline;
    width: 100%;
    height: auto;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00d7";
}

.navigation {
    display: none;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation a:hover {
    background-color: rgb(189, 230, 230);
}

.navigation.show {
    display: block;
}

#people-list {
    display: grid;
    grid-template-columns: 1fr;
    /* text-align: center; */
}
.card {
    padding: 5px;
    background-color: rgb(184, 215, 255);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
.member-image {
    display:block;
    height: 150px;
    text-align: center;
    justify-content: center; 
    margin: 0 auto 0.75rem auto;
}

.member-image:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.card-membership, .card-name{
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(189, 230, 230);
    border-radius: 5px
}

/* ------JOIN------ */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.modal-button {
    font-size: 14px;
    justify-self: center;
    width: 100px;
    height: 30px;
}
form {
    grid-row: 1/5;
}
.tier-section {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    text-align: center;
    background-color: #c6c6c6;
    margin: 5px;
    border-radius: 10px;
}
fieldset {
    border-radius: 10px;
}

.picker {
    text-align: center;
    justify-self: center;
    align-self: center;
}
form input {
    height: 20px;
}




form label{
    text-decoration: underline;
    display: block;
    font-size: 18px;
    margin: 10px;}