header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;
}

header img{
    display: inline;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00d7";
}

.navigation {
    display: none;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}
.navigation.show {
    display: block;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: gray;
}

h1 {
    margin-left: 10px;
}

#main-section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#about-me {
    grid-column: 1/3;
    background-color: #65f47c;
    padding: 10px;
    margin: 8px;
}
#student-photo {
    grid-template-columns: 3/4;
    text-align: center;
}
#web-certificate-courses{
    grid-column: 1/4;
    text-align: center;
}
#about-me-text {
    font-size: 18px;
}
.courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    background: #a7dea2;

}
#subjects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.course-box {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    background: #a7dea2;
}